<div>
  <!-- Header 부분 -->
  <div>
    <div>Header부분</div>
    <ul>
      <!-- 링크 연결시켜주는 부분을 컴포넌트? -->
      <li>Apperal shop</li>
      <li>Home</li>
      <li>Products</li>
    </ul>
  </div>
  <!-- 이미지 부분 -->
  <div>이미지 영역</div>
  <!-- 콘텐츠 영역 , 이미지+내용 합쳐서 하나의 컴포넌트로? -->
  <div>
    <div>이미지</div>
    <div>About Our Company</div>
  </div>
  <div>
    <div>이미지</div>
    <div>Contact us</div>
  </div>
  <!-- 연락부분 이미지 + 텍스트  -->
  <div>이미지컴포넌트</div>
  <div>이미지컴포넌트</div>
  <div>이미지컴포넌트</div>
  <div>이미지컴포넌트</div>
  <!-- footer 부분 -->
  <div>fotter 부분</div>
</div>
